

body {

	background-image: url(../Image/bg_light_3.jpg);
	
	font-size: 16px;
	font-family: Helevetica,Arial;
	
	letter-spacing: 1px;
}

fieldset {
	position: absolute;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	width: 750px;
	
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 15px;
	
	border: 3px groove orange;
}

legend {
	font-weight: bold;
	font-size: 18px;
	background: white;
	border: 3px groove orange;
	border-radius: 15px;
}

/*-------- ABOUT ----------------*/
#about {
	
	top: 20px;
	
	height: 400px;

	background: #cecef5;
	

}

#about_p_1 {
	
	margin-left: 50px;
}

.about_ul {
	margin-left: 50px;
	margin-top: 30px;
	list-style-image: url(../Image/circle_green.png);
}



#vk_icon {
	float: left;
	margin: 15px;
	opacity: 0.8;
	width: 40px;
	margin-top: 15px;
}

#vk_icon:hover {
	opacity: 1;
}


/* -------------- PROEKT ----------------------*/

#proekt {
	margin-top: 450px; 
	
	height: 250px;

	background: gold;
}


#major_project {
	float: left;

	margin: 10px;
	margin-top: -10px;
	
	width: 150px;
}




/*----------EXPECTATIONS -------------------------*/
#expectations {
	margin-top: 730px;
	
	height: 150px;

	background: violet; 
}

